.container1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #c99af3;
    /*background-image: linear-gradient(to bottom right, #8c52ff, #5ce1e6);*/
    width: 100%;
    font-size:14px;
   
    
}


.title {
    color: white;
    font-size: 24px;
    text-align: center;
    transition: all 0.3s ease-out;
    flex-basis: 100;
    margin:0;
    padding:0;
    margin-right:auto;
    margin-left:auto;
    position: absolute;           /* Cambiar a posición absoluta para controlar mejor la ubicación */
    left: 50%;                   /* Colocar el contenedor en el 25% de la pantalla */
    transform: translateX(-50%);
}

.title:hover{
    transform: scale(0.5);
    text-shadow: -5px 5px 10px rgba(0, 0, 0, 0.811);
}

.dropdown {
    position: relative;
    display: inline-block;
   
}



.dropdownContent .dropdownItem {
    
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: none;
    text-align: left;
}
.dropdown:hover .dropdownContent {
    display: block;
    background-color:#a27eea;
}

.dropdownBtn, .dropdownItem {
    padding: 10px;
    border: none;
    text-align: left;
    cursor: pointer;
    width: 100%;
}
.container2{
    display: flex;                 /* Mantener el uso de flexbox para alinear icono y menú */
    align-items: center;          /* Centrar verticalmente el icono y el menú */
    justify-content: center;       /* Centrar horizontalmente dentro del contenedor */
    position: absolute;           /* Cambiar a posición absoluta para controlar mejor la ubicación */
    left: 10%;                   /* Colocar el contenedor en el 25% de la pantalla */
    transform: translateX(-50%); /* Ajuste para centrarlo correctamente si es necesario*/
}
.dropdownContent {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20px; /* Ajusta según la posición vertical del ícono */
    left: 10%; /* Posiciona el menú a la mitad del contenedor */
    transform: translateX(-50%); /* Centra el menú horizontalmente */
    width: 200px;
    border: 5px solid #a27eea;
    background-color: white;
    z-index: 10;
    font-family: arial;
}
.dropdownContent::before {
    content: '';
    position: absolute;
    top: -10px; /* Posiciona la flecha justo encima del menú */
    left: 50%; /* Coloca la flecha en el centro del menú */
    transform: translateX(-50%); /* Ajusta para que la flecha esté alineada al centro */
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #a27eea; /* Color de la flecha */
    width: 0;
    height: 0;
}

.options{
    background-color:transparent;
    border-color: transparent;
    position:absolute;
    margin:0px;
    padding:0px;
    color:white;
    align-items: center;
}

.options:hover{
    transform: scale(1.06); /* Escala el botón ligeramente */
   
}


.mainContent {
    flex-grow: 1;
    background-color: white;
    padding: 20px;
}


.components{
    color:white;
    display:flex; /*el link abarcará todo el ancho de la pantalla*/
    height: 100%;
    width:40%;
    font-family: arial;
    font-size: 14px;
           /* Cambiar a posición absoluta para controlar mejor la ubicación */
                 /* Colocar el contenedor en el 25% de la pantalla */
    align-items: center;
    text-align: center;
   
 
   
    
}

.seleccion{
    display:flex;
    height: 100%; /* Mantiene el padding */
    cursor: pointer;
    transition: background-color 0.3s;
    box-sizing: border-box; /* Incluye padding y borde en el ancho total */
    width: 40%; /* Asegúrate de que ocupe el ancho completo del contenedor */
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-bottom:21px;
    padding-top:21px;
    padding-left:0px;
    padding-right:0px;
}
.seleccion2{
    display:flex;
    height: 100%; /* Mantiene el padding */
    cursor: pointer;
    transition: background-color 0.3s;
    box-sizing: border-box; /* Incluye padding y borde en el ancho total */
    width: 40%; /* Asegúrate de que ocupe el ancho completo del contenedor */
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-bottom:25px;
    padding-top:25px;
    padding-left:0px;
    padding-right:0px;
}
.seleccion:hover{
    background-color:#a27eea;
    /*background-image: linear-gradient(to bottom right, #8c52ff, #5ce1e6);*/
}
.seleccion2:hover{
    background-color:#a27eea;
}



