.contGeneral{
    width: 20vw;
    height: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border: 1px solid transparent;
    transition: all 0.3s ease-in-out;
    
}
.contGeneral:hover{
    border: 1px solid black;
    transform:  scale(1.1);
    /* box-shadow: -5px 5px 0px rgba(95, 95, 95, 0.249); */
    cursor: pointer;
}
.imgProducto{
    width: 100%;
    height:50vh;
    border: none;
    margin-top: 0px;
    object-fit: cover;
    border-radius: 0px;
}

.contTexto{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
    text-align: center; /* Asegura que el texto esté centrado */
}
.contTexto p{
    margin: 0;
}
.contTexto h1 {
    width: 100%;
    max-height: 10vh;
    padding: 0px 10px 0px 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1rem;
    margin: 0;
}
.contTexto span {
    font-size: 0.8rem;
    margin: 0;
}
.contCarrito{
    position: absolute;  /*Para colocar el ícono sobre la tarjeta */
    top: 10px; /* Ajusta la distancia desde arriba */
    right: 10px; /* Ajusta la distancia desde la derecha */
}
.carritoIcon {
    color: #333; /* Cambia el color del ícono */
    font-size: 24px; /* Tamaño del ícono */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    transition: transform 0.2s; /* Animación opcional */
}
.carritoIcon:hover {
    transform: scale(1.2); /* Efecto al pasar el mouse */
}