.contGeneral{
    position: relative;
    width: 20vw;
    height: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    border: 1px solid grey;
    border-radius:10px;
    transition: all 0.3s ease-in-out;

    
    
}
.contGeneral:hover{
    border:none;

    transform:  scale(1.05);
    cursor: pointer;
    box-shadow: 0 0 10px rgba(214, 177, 214, 0.765); /* Agrega una sombra suave */
}
.contImg{
    width: 80%;
    height:50%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.imgProducto{
    width: 100%;           /* La imagen ocupará todo el ancho del contenedor */
    height: 100%;          /* Establece la altura de la imagen relativa al viewport */
    object-fit: cover;     /* Asegura que la imagen cubra completamente el contenedor sin distorsionarse */
    margin-top: 0px;
    border-radius: 0px;
    border:none;
}
.contDescripcion{
    width: 100%;
    max-height: 15vw;
    min-height: 3vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
    border: none;
  
}



.descripcion{
    font-size: 0.9rem;
    margin-top:10px;
    font-family: 'Roboto', sans-serif;


}

.precio{
    font-size:1rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    
}

.contCarrito{
    width: 100%;
    height: 2vw;
    background-color: #a27eea;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

.carritoIcon {
    color: white; /* Cambia el color del ícono */
    font-size: 24px; /* Tamaño del ícono */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    transition: transform 0.2s; /* Animación opcional */
}
.contCarrito:hover .carritoIcon {
    transform: scale(1.2); /* Efecto al pasar el mouse */
}

.title{
    font-size: 18px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}